@charset "UTF-8";
/*  em html é id = css é #
    em html é class = css é .

*/

body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#F28705 ;
}

h2{
    color:#F28705 ;
}

h1#Principal{
    color:#F28705;
    background-color: rgb(0, 81, 255);
    text-align: center;
}

.basico{
    color: darkblue;
}
.intermediario{
    color: darkcyan;
}
.avancado{
    color: darkgoldenrod;
}